<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper   
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="com.aiyi.core.dao.BaseDao">

    <!-- 执行新增SQL -->
    <insert id="excuteInsertSql" parameterType="hashmap">${_sql}</insert>

    <!-- 执行查询SQL -->
    <select id="excuteQuerySql" parameterType="hashmap" resultType="hashmap">${_sql}</select>

    <!-- 执行更新SQL -->
    <update id="excuteUpdateSql" parameterType="hashmap">${_sql}</update>

    <!-- 执行删除SQL -->
    <delete id="excuteDeleteSql" parameterType="hashmap">${_sql}</delete>

    <!-- 获取下一个序列的值 -->
    <select id="fetchSeqNextval" resultType="Long" flushCache="true">
        ${value}
    </select>

    <select id="lastInsertId" resultType="Long" flushCache="true">
        SELECT LAST_INSERT_ID()
    </select>
</mapper>
